/* Home Screen Layout */
@import url("../../styles/layout.css");

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  background-image: url("../../assets/bg_silver.png");
}

/* HOME CONTAINER */ 
.home-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  background: #EEEAE1;
  border-radius: 28px;
  border: 4px solid #111;
  display: flex;
  flex-direction: column; 
  gap: 16px;
  transform: scale(0.95);
  transform-origin: center;
}

/* HOME HEADER  */
.home-header {
  background: #D6D0C5;
  border-bottom: 4px solid #111;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  /* Pull header to edges of card */
  margin: -16px -16px 0 -16px;
  padding: 0px 12px;

  display: flex;
  align-items: center;
}

/* Layout for perfect centering of Premium btn, Home title, & Menu btn*/
.home-header-left,
.home-header-center,
.home-header-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.home-header-left { justify-content: flex-start; }
.home-header-center { justify-content: center; }
.home-header-right { justify-content: flex-end; }

/* Home Title */
.home-title {
  font-size: 28px;
  font-weight: 800;
}

/* Premium Button */
.premium-btn {
  background: linear-gradient(to right, #cfb98d, #e7ce9d, #edddbb, #f0e6d1, #edddbb, #e7ce9d, #cfb98d);
  border: 3px solid #B89D5B;
  border-radius: 20px;
  padding: 6px 10px;
  font-weight: 700;
  color: #B89D5B
}

/* Menu Button */
.menu-btn {
  border: 3px solid #111;
  border-radius: 16px;
  background: #EEEAE1;
  padding: 6px 10px;
  font-weight: bold;
}

.menu-icon {
  width: 20px;      
  height: 20px;
  object-fit: contain;
}

/* LEETCODE DAILY REMINDER CARD */
.leetcode-card {
  flex: 0 0 auto;
  display: flex;
  align-items: center; 
  gap: 26px; 

  background: linear-gradient(to right, #aeacac, #d4d2d2, #e2e1e1, #d4d2d2, #aeacac);
  border: 4px solid #111;
  border-radius: 28px;
  padding: 12px;
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.leetcode-icon {
  width: 40px;      
  height: 40px;
  object-fit: contain;
}

.leetcode-view {
  line-height: 1.3835;
}

.leetcode-view strong {
  display: block;
  font-size: 16px;
}

/* Leetcode daily reminder changes to 'Claim Reward' upon completion */
/* Hide alternate view by default */
.icon-alt,
.view-alt { 
  display: none; 
}

/* Leetcode reminder (before) */
.leetcode-card.completed .view-default, 
.leetcode-card.completed .icon-default { 
  display: none; 
}

/* Claim reward (after) */
.leetcode-card.completed .view-alt, 
.leetcode-card.completed .icon-alt { 
  display: block; 
}
.leetcode-card.completed {
  background: linear-gradient(to right, #f4bb7e, #f1d4b5, #eaddcf, #f1d4b5, #f4bb7e );
}


/* PET DISPLAY CARD */
.pet-card {
  flex: 1;             
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  background: linear-gradient(#BFD1DF, #DCEAF5);
  border: 4px solid #111;
  border-radius: 28px;
  padding: 16px;
  margin: 0;
  min-height: 210px;
  overflow: hidden;
}

/* Top Row: Coins + Minimize btn */
.pet-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

/* Minimize Button */
.minimize-btn {
  border: 2px solid #111;
  border-radius: 10px;
  background: #f1f1f1;
  padding: 4px 8px;
}

.minimize-icon {
  width: 20px;      
  height: 20px;
  object-fit: contain;
}

/* Pet Container */
.home-hero {
  display: flex;
  justify-content: center;
}

/* Pet Sprite */
.home-hero-pet {
  width: 188px;
  height: 141px;
  transform: scale(0.90);
  transform-origin: center;

  background-image: url("../../assets/Animals - Outline/CubicJaguatirica.png");
  background-repeat: no-repeat;
  background-size: 752px 141px;
  image-rendering: pixelated;
  animation: home-pet-idle 0.8s steps(1) infinite;
}

/* Sprite Animation */
@keyframes home-pet-idle {
  0% { background-position: 0 0; }
  50% { background-position: -376px 0; }
  100% { background-position: 0 0; }
}

/* Pet Name */
.pet-name {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(150, 150, 150, 0.75);
  padding: 8px 18px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-style: italic; 

}

.pet-name h2 {
  margin: 0;
  font-size: 18px;
}

/* Pet Age */
.pet-name p {
  margin: 0;
  font-size: 14px;
}

/* STATUS BAR */
.status-bar {
  flex: 0 0 auto;
  background: #F1E0BF;
  border: 4px solid #111;
  border-radius: 28px;

  padding: 6px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.status-col { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-width: 0;
  font-size: 18px;
  margin: 0;
}

.status-col.hearts  {flex: 1.4;}
.status-col.streak  {flex: 0.8;}
.status-col.xp      {flex: 1.3;}

.hearts-text, 
.streak-text,
.level-text {
  font-family: 'Lilita One', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px #111;
}

/* XP */
.level-text.level-up {
  animation: animate-level-up 1500ms;
}

@keyframes animate-level-up {
  0%    {transform: scale(1);     color: white;}
  25%   {transform: scale(1.25);  color: rgb(40, 255, 40);}
  65%   {transform: scale(0.90);  color: white;}
  85%   {transform: scale(1.05);  color: white;}
  100%  {transform: scale(1);     color: white;}
}

.xp-bar {
  height: 16px;
  width: 110px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #e6e6e6;
  border: 3px solid #111;
  position: relative;
}

.xp-fill {
  height: 100%;
  width: 0%;
  background-color: rgb(0, 180, 0);
  transition: width 150ms ease;
}

.xp-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: italic;

  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
}

.xp-bar:hover .xp-text {
  opacity: 1;
}

.xp-test-button {
  margin-top: 0;
  font-size: 12px;
  border: 2px solid #111;
  border-radius: 8px;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

/* BUTTONS ANIMATION */
.premium-btn:hover,
.menu-btn:hover,
.minimize-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.premium-btn:active,
.menu-btn:active,
.minimize-btn:active {
  transform: scale(0.9);
}

/* Leetcode card click animation */
.leetcode-card {
  cursor: pointer;
  transition: transform 0.1s ease;
}

.leetcode-card:active {
  transform: scale(0.9);
}